APP_NAME=Nenegram
APP_BUNDLE_ID=com.neneds.ndsgram
APP_SPECIFIC_URL_SCHEME=tgfork

GLOBAL_CONSTANTS = APP_CONFIG_IS_INTERNAL_BUILD=false APP_CONFIG_IS_APPSTORE_BUILD=true APP_CONFIG_APPSTORE_ID=0 APP_SPECIFIC_URL_SCHEME="\"$(APP_SPECIFIC_URL_SCHEME)\""
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GLOBAL_CONSTANTS)

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) APP_CONFIG_API_ID=948762 APP_CONFIG_API_HASH="\"d43afeccbe6bf7c24e9c26055291a476\"" APP_CONFIG_HOCKEYAPP_ID="\"\""
